In [1]:
id_p = "1ux8"
matrix = "../../R/Rdati/Matrici Adiacenza/{}.csv".format(id_p)
print(matrix)

../../R/Rdati/Matrici Adiacenza/1ux8.csv

# Keras

In [2]:
import pandas as pd
dataFrame = pd.read_csv(matrix, sep = ';')
dataFrame

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V110,V111,V112,V113,V114,V115,V116,V117,V118,V119
0,list.amino,ASN,ALA,PRO,TYR,GLU,ALA,ILE,GLY,GLU,...,GLU,LEU,THR,ALA,ARG,HIS,MET,VAL,ASN,GLN
1,NaN,0,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,1,0,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,1,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,NaN,1,1,1,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,NaN,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,1,1,1
116,NaN,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
117,NaN,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,0,1,1
118,NaN,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,0,1
119,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,0

In [3]:
Nodes = list(dataFrame.columns[1:])
print(Nodes)
Amino = list(dataFrame.iloc[0][1:])
print(Amino)

['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119']
['ASN', 'ALA', 'PRO', 'TYR', 'GLU', 'ALA', 'ILE', 'GLY', 'GLU', 'GLU', 'LEU', 'LEU', 'SER', 'GLN', 'LEU', 'VAL', 'ASP', 'THR', 'PHE', 'TYR', 'GLU', 'ARG', 'VAL', 'ALA', 'SER', 'HIS', 'PRO', 'LEU', 'LEU', 'LYS', 'PRO', 'ILE', 'PHE', 'PRO', 'SER', 'ASP', 'LEU', 'THR', 'GLU', 'THR', 'ALA', 'ARG', 'LYS', 'GLN', 'LYS', 'GLN', 'PHE', 'LEU', 'THR', 'GLN', 'TYR', 'LEU', 'GLY', 'GLY', 'PRO', 'PRO', 'LEU', 'TYR', 'THR', 'GLU', 'GLU', 'HIS', 'GLY', 'HIS', 'PRO', 'MET', 'LEU', 'ARG', 'ALA', 'ARG', 'HIS', 'LEU', 'PRO', 'PHE', 'PRO', 'ILE', 'THR', 'ASN', 'GLU', 'ARG', 'ALA', 'ASP', 'ALA', 'TRP', 'LEU', 'SER', 'CYS', 'MET', 'LYS', 'ASP', 'ALA', 'MET', 'ASP', 'HIS', 'VAL', 'GLY', 'LEU', 'GLU', 'GLY', 'GLU', 'ILE', 'ARG', 'GLU', 'PHE', 'LEU', 'PHE', 'GLY', 'ARG', 'LEU', 'GLU', 'LEU', 'THR', 'ALA', 'ARG', 'HIS', 'MET', 'VAL', 'ASN', 'GLN']

In [4]:
print(type(Nodes), type(Amino))
print(len(Nodes), len(Amino))

<class 'list'> <class 'list'>
119 119

In [5]:
dataFrame.drop(dataFrame.columns[[0]], axis = 1, inplace = True)
dataFrame.drop([0], axis = 0, inplace = True)

In [6]:
print(Amino)
dataFrame

['ASN', 'ALA', 'PRO', 'TYR', 'GLU', 'ALA', 'ILE', 'GLY', 'GLU', 'GLU', 'LEU', 'LEU', 'SER', 'GLN', 'LEU', 'VAL', 'ASP', 'THR', 'PHE', 'TYR', 'GLU', 'ARG', 'VAL', 'ALA', 'SER', 'HIS', 'PRO', 'LEU', 'LEU', 'LYS', 'PRO', 'ILE', 'PHE', 'PRO', 'SER', 'ASP', 'LEU', 'THR', 'GLU', 'THR', 'ALA', 'ARG', 'LYS', 'GLN', 'LYS', 'GLN', 'PHE', 'LEU', 'THR', 'GLN', 'TYR', 'LEU', 'GLY', 'GLY', 'PRO', 'PRO', 'LEU', 'TYR', 'THR', 'GLU', 'GLU', 'HIS', 'GLY', 'HIS', 'PRO', 'MET', 'LEU', 'ARG', 'ALA', 'ARG', 'HIS', 'LEU', 'PRO', 'PHE', 'PRO', 'ILE', 'THR', 'ASN', 'GLU', 'ARG', 'ALA', 'ASP', 'ALA', 'TRP', 'LEU', 'SER', 'CYS', 'MET', 'LYS', 'ASP', 'ALA', 'MET', 'ASP', 'HIS', 'VAL', 'GLY', 'LEU', 'GLU', 'GLY', 'GLU', 'ILE', 'ARG', 'GLU', 'PHE', 'LEU', 'PHE', 'GLY', 'ARG', 'LEU', 'GLU', 'LEU', 'THR', 'ALA', 'ARG', 'HIS', 'MET', 'VAL', 'ASN', 'GLN']

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V110,V111,V112,V113,V114,V115,V116,V117,V118,V119
1,0,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
5,1,1,1,1,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,1,1,1
116,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
117,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,0,1,1
118,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,0,1
119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,0

In [7]:
proteine_path = "../Dati/proteine.csv"

In [8]:
proteine = pd.read_csv(proteine_path, sep = ',')
proteine

        Id IdCentrale   Classe
0     1ux8         ux  a.1.1.1
1     1dlw         dl  a.1.1.1
2     1uvy         uv  a.1.1.1
3     1dly         dl  a.1.1.1
4     1uvx         uv  a.1.1.1
...    ...        ...      ...
3288  6np9         np  l.1.1.1
3289  5z0k         z0  l.1.1.1
3290  6zbq         zb  l.1.1.1
3291  6ilx         il  l.1.1.1
3292  2qo5         qo  l.1.1.1

[3293 rows x 3 columns]

Estrapolazione classe della proteina

In [9]:
classe = proteine[proteine['Id'] == id_p]["Classe"][0][0]
classe

'a'

# Creazione del grafo
Funziospektral.data.graph.Graph(x=None, a=None, e=None, y=None)
- x, for the node features;
- a, for the adjacency matrix;
- e, for the edge attributes;
- y, for the node or graph labels;

Argomenti:
- x: np.array, the node features (shape (n_nodes, n_node_features));
- a: np.array or scipy.sparse matrix, the adjacency matrix (shape (n_nodes, n_nodes));
- e: np.array, the edge features (shape (n_nodes, n_nodes, n_edge_features) or (n_edges, n_edge_features));
- y: np.array, the node or graph labels (shape (n_nodes, n_labels) or (n_labels, ));

Per la creazione dell'array numpy si userÃ  la segunete funzione
- ***numpy.array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0, like=None)***.

In [10]:
import numpy as np
from numpy import array

In [11]:
Nodes_numpy = []
for i in range(len(Nodes)-1):
    Nodes_numpy.append((Nodes[i], Amino[i]))

x = array(Nodes_numpy)
print(type(x))
print(x)

<class 'numpy.ndarray'>
[['V1' 'ASN']
 ['V2' 'ALA']
 ['V3' 'PRO']
 ['V4' 'TYR']
 ['V5' 'GLU']
 ['V6' 'ALA']
 ['V7' 'ILE']
 ['V8' 'GLY']
 ['V9' 'GLU']
 ['V10' 'GLU']
 ['V11' 'LEU']
 ['V12' 'LEU']
 ['V13' 'SER']
 ['V14' 'GLN']
 ['V15' 'LEU']
 ['V16' 'VAL']
 ['V17' 'ASP']
 ['V18' 'THR']
 ['V19' 'PHE']
 ['V20' 'TYR']
 ['V21' 'GLU']
 ['V22' 'ARG']
 ['V23' 'VAL']
 ['V24' 'ALA']
 ['V25' 'SER']
 ['V26' 'HIS']
 ['V27' 'PRO']
 ['V28' 'LEU']
 ['V29' 'LEU']
 ['V30' 'LYS']
 ['V31' 'PRO']
 ['V32' 'ILE']
 ['V33' 'PHE']
 ['V34' 'PRO']
 ['V35' 'SER']
 ['V36' 'ASP']
 ['V37' 'LEU']
 ['V38' 'THR']
 ['V39' 'GLU']
 ['V40' 'THR']
 ['V41' 'ALA']
 ['V42' 'ARG']
 ['V43' 'LYS']
 ['V44' 'GLN']
 ['V45' 'LYS']
 ['V46' 'GLN']
 ['V47' 'PHE']
 ['V48' 'LEU']
 ['V49' 'THR']
 ['V50' 'GLN']
 ['V51' 'TYR']
 ['V52' 'LEU']
 ['V53' 'GLY']
 ['V54' 'GLY']
 ['V55' 'PRO']
 ['V56' 'PRO']
 ['V57' 'LEU']
 ['V58' 'TYR']
 ['V59' 'THR']
 ['V60' 'GLU']
 ['V61' 'GLU']
 ['V62' 'HIS']
 ['V63' 'GLY']
 ['V64' 'HIS']
 ['V65' 'PRO']
 ['V66' 'MET']
 ['V67' 'LEU']
 ['V68' 'ARG']
 ['V69' 'ALA']
 ['V70' 'ARG']
 ['V71' 'HIS']
 ['V72' 'LEU']
 ['V73' 'PRO']
 ['V74' 'PHE']
 ['V75' 'PRO']
 ['V76' 'ILE']
 ['V77' 'THR']
 ['V78' 'ASN']
 ['V79' 'GLU']
 ['V80' 'ARG']
 ['V81' 'ALA']
 ['V82' 'ASP']
 ['V83' 'ALA']
 ['V84' 'TRP']
 ['V85' 'LEU']
 ['V86' 'SER']
 ['V87' 'CYS']
 ['V88' 'MET']
 ['V89' 'LYS']
 ['V90' 'ASP']
 ['V91' 'ALA']
 ['V92' 'MET']
 ['V93' 'ASP']
 ['V94' 'HIS']
 ['V95' 'VAL']
 ['V96' 'GLY']
 ['V97' 'LEU']
 ['V98' 'GLU']
 ['V99' 'GLY']
 ['V100' 'GLU']
 ['V101' 'ILE']
 ['V102' 'ARG']
 ['V103' 'GLU']
 ['V104' 'PHE']
 ['V105' 'LEU']
 ['V106' 'PHE']
 ['V107' 'GLY']
 ['V108' 'ARG']
 ['V109' 'LEU']
 ['V110' 'GLU']
 ['V111' 'LEU']
 ['V112' 'THR']
 ['V113' 'ALA']
 ['V114' 'ARG']
 ['V115' 'HIS']
 ['V116' 'MET']
 ['V117' 'VAL']
 ['V118' 'ASN']]

In [12]:
dataFrame = dataFrame.applymap(int)
type(dataFrame.iloc[0][1])

numpy.int64

In [13]:
from scipy.sparse import csr_matrix

In [14]:
A = csr_matrix(dataFrame.values)
print(type(A))
print(A)

<class 'scipy.sparse.csr.csr_matrix'>
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	1
  (0, 6)	1
  (0, 51)	1
  (0, 52)	1
  (0, 53)	1
  (0, 100)	1
  (0, 103)	1
  (1, 0)	1
  (1, 2)	1
  (1, 3)	1
  (1, 4)	1
  (1, 5)	1
  (1, 6)	1
  (1, 7)	1
  (1, 47)	1
  (1, 48)	1
  (1, 49)	1
  (1, 50)	1
  (1, 51)	1
  (1, 52)	1
  (1, 53)	1
  :	:
  (117, 78)	1
  (117, 79)	1
  (117, 80)	1
  (117, 111)	1
  (117, 112)	1
  (117, 113)	1
  (117, 114)	1
  (117, 115)	1
  (117, 116)	1
  (117, 118)	1
  (118, 67)	1
  (118, 70)	1
  (118, 71)	1
  (118, 72)	1
  (118, 73)	1
  (118, 74)	1
  (118, 75)	1
  (118, 76)	1
  (118, 77)	1
  (118, 79)	1
  (118, 113)	1
  (118, 114)	1
  (118, 115)	1
  (118, 116)	1
  (118, 117)	1

In [15]:
import spektral

In [16]:
G = spektral.data.graph.Graph(x= x, a= A, e=None, y=classe)
G

Graph(n_nodes=118, n_node_features=2, n_edge_features=None, n_labels=1)

In [17]:
G.n_edges

3502

In [18]:
G.x

array([['V1', 'ASN'],
       ['V2', 'ALA'],
       ['V3', 'PRO'],
       ['V4', 'TYR'],
       ['V5', 'GLU'],
       ['V6', 'ALA'],
       ['V7', 'ILE'],
       ['V8', 'GLY'],
       ['V9', 'GLU'],
       ['V10', 'GLU'],
       ['V11', 'LEU'],
       ['V12', 'LEU'],
       ['V13', 'SER'],
       ['V14', 'GLN'],
       ['V15', 'LEU'],
       ['V16', 'VAL'],
       ['V17', 'ASP'],
       ['V18', 'THR'],
       ['V19', 'PHE'],
       ['V20', 'TYR'],
       ['V21', 'GLU'],
       ['V22', 'ARG'],
       ['V23', 'VAL'],
       ['V24', 'ALA'],
       ['V25', 'SER'],
       ['V26', 'HIS'],
       ['V27', 'PRO'],
       ['V28', 'LEU'],
       ['V29', 'LEU'],
       ['V30', 'LYS'],
       ['V31', 'PRO'],
       ['V32', 'ILE'],
       ['V33', 'PHE'],
       ['V34', 'PRO'],
       ['V35', 'SER'],
       ['V36', 'ASP'],
       ['V37', 'LEU'],
       ['V38', 'THR'],
       ['V39', 'GLU'],
       ['V40', 'THR'],
       ['V41', 'ALA'],
       ['V42', 'ARG'],
       ['V43', 'LYS'],
       ['V44', 'GLN'],
       ['V45', 'LYS'],
       ['V46', 'GLN'],
       ['V47', 'PHE'],
       ['V48', 'LEU'],
       ['V49', 'THR'],
       ['V50', 'GLN'],
       ['V51', 'TYR'],
       ['V52', 'LEU'],
       ['V53', 'GLY'],
       ['V54', 'GLY'],
       ['V55', 'PRO'],
       ['V56', 'PRO'],
       ['V57', 'LEU'],
       ['V58', 'TYR'],
       ['V59', 'THR'],
       ['V60', 'GLU'],
       ['V61', 'GLU'],
       ['V62', 'HIS'],
       ['V63', 'GLY'],
       ['V64', 'HIS'],
       ['V65', 'PRO'],
       ['V66', 'MET'],
       ['V67', 'LEU'],
       ['V68', 'ARG'],
       ['V69', 'ALA'],
       ['V70', 'ARG'],
       ['V71', 'HIS'],
       ['V72', 'LEU'],
       ['V73', 'PRO'],
       ['V74', 'PHE'],
       ['V75', 'PRO'],
       ['V76', 'ILE'],
       ['V77', 'THR'],
       ['V78', 'ASN'],
       ['V79', 'GLU'],
       ['V80', 'ARG'],
       ['V81', 'ALA'],
       ['V82', 'ASP'],
       ['V83', 'ALA'],
       ['V84', 'TRP'],
       ['V85', 'LEU'],
       ['V86', 'SER'],
       ['V87', 'CYS'],
       ['V88', 'MET'],
       ['V89', 'LYS'],
       ['V90', 'ASP'],
       ['V91', 'ALA'],
       ['V92', 'MET'],
       ['V93', 'ASP'],
       ['V94', 'HIS'],
       ['V95', 'VAL'],
       ['V96', 'GLY'],
       ['V97', 'LEU'],
       ['V98', 'GLU'],
       ['V99', 'GLY'],
       ['V100', 'GLU'],
       ['V101', 'ILE'],
       ['V102', 'ARG'],
       ['V103', 'GLU'],
       ['V104', 'PHE'],
       ['V105', 'LEU'],
       ['V106', 'PHE'],
       ['V107', 'GLY'],
       ['V108', 'ARG'],
       ['V109', 'LEU'],
       ['V110', 'GLU'],
       ['V111', 'LEU'],
       ['V112', 'THR'],
       ['V113', 'ALA'],
       ['V114', 'ARG'],
       ['V115', 'HIS'],
       ['V116', 'MET'],
       ['V117', 'VAL'],
       ['V118', 'ASN']], dtype='<U4')

In [19]:
G.a

<119x119 sparse matrix of type '<class 'numpy.int64'>'
	with 3502 stored elements in Compressed Sparse Row format>

In [20]:
G.y

'a'

In [21]:
Graphs = []
Graphs.append(G)

In [22]:
Graphs

[Graph(n_nodes=118, n_node_features=2, n_edge_features=None, n_labels=1)]